.float{
    float: left;
}

.disFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.all{
    width: 100%;
    min-height: 540px;
    background-color: gainsboro;
}

.nav{
    width: 98%;
    min-height: 100px;
    background-color: blue;
    margin-left: 1%;
    margin-top: 10px;
}

span{
    font-size: 30px;
}

.cent{
    width: 98%;
    min-height: 280px;
    /* background-color: lightblue; */
    margin-left: 1%;
    margin: 20px 0 20px 1%;
}

.left{
    width: 24.5%;
    min-height: 280px;
    background-color: lightblue;
    margin-right: 1%;
}

.center{
    width: 49%;
    min-height: 280px;
    background-color: #A4A5AA;
    margin-right: 1%;
}


.right{
    width: 24.5%;
    min-height: 280px;
    background-color: lightblue;
}

.footer{
    width: 98%;
    min-height: 100px;
    background-color: blue;
    margin-left: 1%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cent{
        min-height: 640px;
        margin: 20px 0;
        margin-left: 1%;
    }

    .left{
        width: 100%;
        min-height: 200px;
        margin-bottom: 20px;
       
    }

    .center{
        width: 100%;
        min-height: 200px;
        margin-bottom: 20px;
        
    }

    .right{
        width: 100%;
        min-height: 200px;    
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
    .left{
        width: 32%;
        margin-right: 2%;
       
    }

    .center{
        width: 32%;
        margin-right: 2%;
        
    }

    .right{
        width: 32%;
            
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .cent{
        width: 98%;
        min-height: 280px;
        /* background-color: lightblue; */
        margin-left: 1%;
        margin: 20px 0 20px 1%;
    }
    
    .left{
        width: 24.5%;
        min-height: 280px;
        background-color: lightblue;
        margin-right: 1%;
    }
    
    .center{
        width: 49%;
        min-height: 280px;
        background-color: #A4A5AA;
        margin-right: 1%;
    }
    
    
    .right{
        width: 24.5%;
        min-height: 280px;
        background-color: lightblue;
    }
    
    .footer{
        width: 98%;
        min-height: 100px;
        background-color: blue;
        margin-left: 1%;
    }
}